
body{
    background-color: lightpink;
    color: whitesmoke;
    font-family: igor, Arial, Helvetica, sans-serif;
    font-size: 100%;
}
#info{
    border-bottom: 1ch white solid;
}
@font-face{
    font-family: "igor";
    src: url(IGOR-BoldItalic.ttf);
}
#redes{
    border-bottom: 1ch white solid;
    ;
}
#cuadro{
    float: left;
    width: 25%;
    text-align: center;
    background-color: black;
}

#cuadro2{
    float: right;
    width: 73%;
    text-align: center;
    background-color: black;
    border-bottom: solid 3ch lightpink;
}

#cuadro3{
    float: right;
    width: 73%;
    text-align: center;
    background-color: black;
}

#idiomas{
    text-align: left;
    
}
#datos{
    text-align: left;
    font-weight: bold;
}
#hobbies{
    text-align: left;
    font-weight: bold;
}
#otros{
    text-align: left;
    font-weight: bold;
}
#nombre{
    border-bottom: 1ch solid lightpink;
}

#Titulo1{
    text-decoration: white underline;
}
#Titulo2{
    text-decoration: white underline;
}
#Titulo3{
    text-decoration: white underline;
}
#Titulo4{
    text-decoration: white underline;
}
#Titulo5{
    text-decoration: white underline;
}
#Titulo6{
    text-decoration: white underline;
}
#Titulo7{
    text-decoration: white underline;
}
#Titulo8{
    text-decoration: white underline;
}