
body{
    background-color: black;
}

#cuadro{
    float: left;
    width: 25%;
    text-align: center;
    background-color: wheat;
}
#cuadro2{
    float: right;
    width: 73%;
    text-align: center;
    background-color: wheat;
}

#cuadro3{
    float: right;
    width: 73%;
    text-align: center;
    background-color: wheat;
}

#idiomas{
    text-align: left;
    
}
#datos{
    text-align: left;
}
#hobbies{
    text-align: left;
    
}
#otros{
    text-align: left;
}